body {
    font-size: 62.5%;
    font-family: 'IBM Plex Sans Arabic',
        sans-serif;
    background-color: hsl(27, 66%, 92%);
}

h2 {
    font-size: 1.4rem;
}

.container {
    display: flex;
    flex-direction: column;
}

.component {
    width: 95%;
    margin: 1rem 0;
}

.balance,
.spending {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    background-color: hsl(10, 79%, 65%);
    margin: 5% 0;
}

.balance>* {
    padding: 1rem;
    color: white;
}

.half {
    height: max-content;
}

.half>*,
img {
    padding: 0;
    margin: 0.2rem 0;
}

.logo-container {
    margin-left: auto;
}