body {
    font-size: 62.5%;
    font-family: 'IBM Plex Sans Arabic',
        sans-serif;
    background-color: hwb(26 74% 1%);
}

h2 {
    font-size: 1.4rem;
}

.container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.component {
    width: 95%;
    max-width: 350px;
    margin: auto;
}

.balance,
.spending {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background-color: hsl(10, 79%, 65%);
    margin: 1.5% 0;
}

.balance>*,
.spending>* {
    padding: 1rem;
    color: white;
}

.spending {
    background-color: hsl(33, 100%, 98%);
    /*display: flex;*/
    flex-wrap: wrap;
    /*flex-flow: column wrap;*/
}

.spending>* {
    flex-basis: 100%;
}

.spending>* {
    color: black;
}

.bars {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 3%;
    justify-content: space-between;
    position: relative;
    width: 90%;
}

.bar {
    height: 20px;
    background-color: hsl(10, 79%, 65%);
    border-radius: 3px;
}

#bars div.bar:hover {
    color: hsl(186, 34%, 60%);
}

.bar,
.day {
    min-width: 10%;
    text-align: center;
}

.day {
    color: gray;
}

.half {
    height: max-content;
}

.half>*,
img {
    padding: 0;
    margin: 0.2rem 0;
}

.logo-container {
    margin-left: auto;
}

.total-info,
.percent-info {
    max-width: fit-content;
}

.total-info p,
.percent-info p {
    font-size: 0.8rem;
    color: gray;
}


.percent-info {
    margin-left: auto;
    text-align: right;
    flex: none;
}

#month-total,
#percentage-increase {
    font-weight: bold;
    margin: 0;
}

#month-total {
    font-size: 2rem;
}

#percentage-increase {
    margin-top: 2rem;
    font-size: 1rem;
}

@media (min-width: 500px) {

    /* Container */
    .container {
        max-width: 400px;
        max-height: 500px;
    }
}